
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.p0 {
  padding-left: 0;
  padding-right: 0;
}

section {
  position: relative;
  padding: 130px 0;
}

.title {
  font-weight: 600;
  /*font-size: 35px;*/
  @include rfs(35px);
  line-height: 60px;
  z-index: 9;
  color: $dark-color;
  margin-bottom: 5px;
  position: relative;
}

.sub-title {
  font-family: $title-fonts;
  font-weight: 600;
  /*font-size: 14px;*/
  @include rfs(14px);
  line-height: 22px;
  position: relative;
  color: $primary-color;
  padding: 0;
  margin: 0 0;
  display: inline-block;
}

.description {
  margin: 0;
  color: $secondary-color;
  margin-top: 15px;
}

.bg-section {
  overflow: hidden;
  background-color: $grey-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    background: url("https://peacefulqode.com/themes/techtrix/html/images/bg-images/1.png");
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
  }

}


.styleT {
  padding: 0 15em;
  margin-bottom: 60px;
}


.owl-dots {

  margin-top: 30px;
  line-height: normal;
  position: relative;
  width: 100%;
  text-indent: inherit;
  text-align: center;
  cursor: pointer;

}

.owl-carousel .owl-dots .owl-dot {
  border: 0;
  outline: 0;
  opacity: 1;
  background: $dark-color;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.5s ease-in-out;

  &:hover {
    background: $primary-color;
  }
}

.owl-carousel .owl-dots .active {
  background: $primary-color;
}


@import "styles/header";

/*/////////////////////////////*/

#main-contact {
  width: 100%;
  overflow: hidden;
}

// #main-contact


/*///////////////////////////////////////*/
/*responsive*/

@include media-breakpoint-down(xl) {
  .styleT {
    padding: 0;
  }
  section {
    padding: 90px 0;
  }
}


@include media-breakpoint-down(md) {
  section {
    padding: 60px 0;
  }
}




/*


@include media-breakpoint-down(xxl){
  .title {
    font-size: 30px;
    line-height: 1.8;
  }
}


@include media-breakpoint-down(md){
  .title {
    font-size: 20px;
    line-height: 1.3;
  }
}

@media (max-width: 479px){
  .title {
    font-size: 18px;
    line-height: 1.3;
  }
}
*/

@include media-breakpoint-down(sm) {
  section {
    padding: 15px 0;
  }

  .description{
    /*@include rfs(0.7rem);*/
    margin-top: 10px;
  }

/*
  .title {
    @include rfs(0.9rem);
  }

  .sub-title {
    @include rfs(0.7rem);
  }*/
}



/*///////////////////////////////////////////////*/

@import "styles/overlay-loading";
@import "styles/banner";
@import "styles/technology";
@import "styles/about";
@import "styles/services";
@import "styles/PortfolioSlider";
@import "styles/product";
@import "styles/video";
@import "styles/our-services";
@import "styles/benefits";
@import "styles/process-2";
@import "styles/partner";
@import "styles/pricing";
@import "styles/footer";
@import "styles/back-to-top";

/*///////////////////////////////////////////*/