
$primary-color: #fd4a18;
$dark-color: #151515;
$secondary-color: #616161;
$grey-color: #F7F8F9;
$white-color: #ffffff;

$radius : 5px;

$body-fonts: My-Yekan, sans-serif;
$title-fonts: Pinar, sans-serif;
