footer.footer
    .foot-container
        .foot-top
            .foot-list
                .container
                    .row.g-0.foot-bg-br-sh
                        .col-lg-4.p-0
                            .foot-item
                                i.fa-solid.fa-location-pin
                                .foot-info
                                    h4 آدرس
                                    span 457، گوراندای لس آنجلس، ایالات متحده آمریکا

                        .col-lg-4.p-0
                            .foot-item
                                i.fa-solid.fa-phone
                                .foot-info
                                    h4 با ما تماس بگیرید
                                    span +1-800-456-478-24

                        .col-lg-4.p-0
                            .foot-item
                                i.fa-solid.fa-envelope
                                .foot-info
                                    h4 به ما ایمیل بزنید
                                    a(href="#")
                                        span peacefulqode@gmail.com

            .container
                .row
                    .col-xl-3.col-md-6
                        .foot-content
                            img(src="images/footer-logo.png" alt="").foot-logo
                            p انواع مختلفی از معابر Lorem Ipsum در دسترس است، اما اکثریت آنها آسیب دیده اند.
                            .footer-social
                                ul
                                    li
                                        a(href="#")
                                            i.fa-brands.fa-facebook
                                    li
                                        a(href="#")
                                            i.fa-brands.fa-github
                                    li
                                        a(href="#")
                                            i.fa-brands.fa-instagram
                                    li
                                        a(href="#")
                                            i.fa-brands.fa-skype
                    .col-xl-3.col-md-6
                        .foot-content
                            h4.foot-title خدمات ما
                            .foot-menu
                                ul.foot-menu
                                    li
                                        a(href="#") توسعه نرم افزار
                                    li
                                        a(href="#") توسعه وب
                                    li
                                        a(href="#") توسعه موبایل
                                    li
                                        a(href="#") توسعه وب
                                    li
                                        a(href="#") توسعه برنامه
                                    li
                                        a(href="#") توسعه QA


                    .col-xl-3.col-md-6
                        .foot-content
                            h4.foot-title لینک مفید
                            .foot-menu
                                ul.foot-menu
                                    li
                                        a(href="#") موتور جستجوی حقایق
                                    li
                                        a(href="#") یاد بگیرید و کدنویسی کنید
                                    li
                                        a(href="#") وب سایت اشتراک ویدیو
                                    li
                                        a(href="#") اسکنر فایل و URL
                                    li
                                        a(href="#") بسته نرم افزار آنلاین

                    .col-xl-3.col-md-6
                        .foot-content
                            h4.foot-title پست اخیر
                            .foot-recent-post
                                .post-media
                                    a(href="#")
                                        img(src="images/post-1.jpg" alt="")
                                .post-info
                                    h6
                                        a(href="#") برنامه فروش و سود را در راه حل های آن ترویج می کند
                                    a(href="#").post-date
                                        span 2
                                        span بهمن
                                        span 1399
                            .foot-recent-post
                                .post-media
                                    a(href="#")
                                        img(src="images/post-2.jpg" alt="")
                                .post-info
                                    h6
                                        a(href="#") در تحلیل عمیق صنعت و اکوسیستم
                                    a(href="#").post-date
                                        span 2
                                        span بهمن
                                        span 1399




        .foot-copyright
            .container
                .row
                    .col-lg-6.col-md-6
                        span.text-copyright
                            a(href="#" target="_blank") حق چاپ 2022 Techtrix محفوظ است.
                    .col-lg-6.col-md-6
                        .link-copy
                            ul
                                li
                                    a(href="#") حرفه
                                li
                                    a(href="#") شرایط استفاده
                                li
                                    a(href="#") حریم خصوصی
