header#main-header
    nav.navbar.fixed-top.nav-custom.shadow-sm
        .row.no-gutters
            .col-lg-2.col-md-2.col-sm-2.col-4.p-0
                a.navbar-brand.logo-top(href='#')
                    img(src="images/footer-logo.png")

            .col-lg-10.col-md-10.col-sm-10.col-8.p-0
                .top-header
                    .row.no-gutters
                        .col-lg-6.p0
                            ul.socialMedia.m-0
                                li
                                    a(href="#")
                                        i.fa-brands.fa-facebook
                                li
                                    a(href="#")
                                        i.fa-brands.fa-github
                                li
                                    a(href="#")
                                        i.fa-brands.fa-instagram
                                li
                                    a(href="#")
                                        i.fa-brands.fa-skype


                        .col-lg-6.p-0
                            ul.contact.m-0
                                li
                                    a(href="#")
                                        span +1-800-456-478-24
                                        i.fa-solid.fa-phone
                                li
                                    a(href="#")
                                        span peacefulqode@gmail.com
                                        i.fa-solid.fa-envelope






                .bottom-header
                    .row.no-gutters.align-items-center.justify-content-center
                        .col-lg-10.col-md-8.col-sm-8.col-8.p-0.bottom-col-control
                            .menu
                                ul.m-0
                                    li
                                        a(href="#")
                                            span.active-menu خانه
                                        ul.subMenu.animate__animated.animate__fadeIn
                                            li
                                                a(href="#")
                                                    span چند صفحه
                                                ul.subMenu.animate__animated.animate__fadeIn
                                                    li
                                                        a(href="#")
                                                            span خانه اصلی
                                                    li
                                                        a(href="#")
                                                            span خانه مدرن
                                                    li
                                                        a(href="#")
                                                            span راه اندازی خانه
                                                    li
                                                        a(href="#")
                                                            span آژانس فناوری اطلاعات
                                                    li
                                                        a(href="#")
                                                            span شرکت نرم افزاری
                                                    li
                                                        a(href="#")
                                                            span کلاسیک خانگی
                                            li
                                                a(href="#")
                                                    span یک صفحه
                                                ul.subMenu.animate__animated.animate__fadeIn
                                                    li
                                                        a(href="#")
                                                            span یک صفحه
                                                    li
                                                        a(href="#")
                                                            span یک صفحه 2
                                                    li
                                                        a(href="#")
                                                            span یک صفحه 3
                                    li
                                        a(href="#")
                                            span خدمات
                                        ul.subMenu.animate__animated.animate__fadeIn
                                            li
                                                a(href="#")
                                                    span توسعه نرم افزار
                                            li
                                                a(href="#")
                                                    span توسعه وب
                                            li
                                                a(href="#")
                                                    span توسعه موبایل
                                            li
                                                a(href="#")
                                                    span توسعه برنامه
                                            li
                                                a(href="#")
                                                    span تست QA
                                            li
                                                a(href="#")
                                                    span طراحی محصول
                                    li
                                        a(href="#")
                                            span صفحات
                                        ul.subMenu.animate__animated.animate__fadeIn
                                            li
                                                a(href="#")
                                                    span درباره ما
                                            li
                                                a(href="#")
                                                    span خدمات ما
                                            li
                                                a(href="#")
                                                    span تیم ما
                                            li
                                                a(href="#")
                                                    span رهبری
                                            li
                                                a(href="#")
                                                    span طرح قیمت گذاری
                                            li
                                                a(href="#")
                                                    span Faq
                                            li
                                                a(href="#")
                                                    span 404

                                    li
                                        a(href="#")
                                            span نمونه کارها
                                        ul.subMenu.animate__animated.animate__fadeIn
                                            li
                                                a(href="#")
                                                    span انواع
                                                ul.subMenu.animate__animated.animate__fadeIn
                                                    li
                                                        a(href="#")
                                                            span استاندارد
                                                    li
                                                        a(href="#")
                                                            span سنگ تراشی
                                                    li
                                                        a(href="#")
                                                            span سنگ تراشی پیوست
                                            li
                                                a(href="#")
                                                    span ستون ها
                                                ul.subMenu.animate__animated.animate__fadeIn
                                                    li
                                                        a(href="#")
                                                            span 2 ستون
                                                    li
                                                        a(href="#")
                                                            span 3 ستون
                                                    li
                                                        a(href="#")
                                                            span عرض 3 ستون
                                                    li
                                                        a(href="#")
                                                            span عرض 4 ستون
                                            li
                                                a(href="#")
                                                    span نمونه کارها تک

                                    li
                                        a(href="#")
                                            span وبلاگ
                                        ul.subMenu.animate__animated.animate__fadeIn
                                            li
                                                a(href="#")
                                                    span سبک شیشه
                                                ul.subMenu.animate__animated.animate__fadeIn
                                                    li
                                                        a(href="#")
                                                            span وبلاگ تک ستونی
                                                    li
                                                        a(href="#")
                                                            span وبلاگ دو ستونی
                                                    li
                                                        a(href="#")
                                                            span وبلاگ سه ستونی
                                            li
                                                a(href="#")
                                                    span نوارکناری وبلاگ
                                                ul.subMenu.animate__animated.animate__fadeIn
                                                    li
                                                        a(href="#")
                                                            span سمت راست وبلاگ
                                                    li
                                                        a(href="#")
                                                            span سمت چپ وبلاگ
                                            li
                                                a(href="#")
                                                    span وبلاگ مجرد
                                    li
                                        a(href="#")
                                            span تماس باما



                        .col-lg-1.col-md-2.d-flex.justify-content-end.col-sm-2.col-2.p-0.bottom-col-control
                            .containI
                                i.fa-solid.fa-search.search
                            form.mt-3.form-head(role='search')
                                  .d-flex-form
                                    input.form-control(type='search' placeholder='جستجو...' aria-label='Search')
                                    button.btn.btn-outline-success(type='submit')
                                        i.fa-solid.fa-search

                            #offcanvasNavbar.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasNavbarLabel')
                                .offcanvas-header
                                    button.fa-solid.fa-close.close-control(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
                                .offcanvas-body.nav-bars
                                    img.img-fluid.logo-nav-bars(src="images/logo.png" alt="")

                                    p این واقعیتی است که مدتهاست ثابت شده است که وقتی خواننده به صفحه‌آرایی آن نگاه می‌کند، حواس خواننده به محتوای قابل خواندن آن پرت می‌شود.


                                    .contain-contact
                                        h2 مخاطب

                                        .contact-nav-bars
                                            i.fa-solid.fa-location-pin
                                            p 457,Gourandai Los Angeles,USA
                                        .contact-nav-bars
                                            i.fa-solid.fa-phone
                                            p 457,Gourandai Los Angeles,USA
                                        .contact-nav-bars
                                            i.fa-solid.fa-envelope
                                            p 457,Gourandai Los Angeles,USA


                                    .contain-socialMedia
                                        ul.socialMedia-Bars
                                            li
                                                a(href="#")
                                                    i.fa-brands.fa-facebook

                                            li
                                                a(href="#")
                                                    i.fa-brands.fa-github

                                            li
                                                a(href="#")
                                                    i.fa-brands.fa-instagram

                                            li
                                                a(href="#")
                                                    i.fa-brands.fa-skype


                        .col-lg-1.col-md-2.col-sm-1.col-2.p-0.bottom-col-control.p-bar
                            i.fa-solid.fa-bars.navbar-toggler-iconnavbar-toggler.bars(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasNavbar' aria-controls='offcanvasNavbar' aria-label='Toggle navigation')




