extends partils/_layout
block main
    .banner
        #main-carousel.carousel.slide.carousel-dark(data-bs-ride="carousel")


            .carousel-inner
                .carousel-item.active.img-control(data-bs-interval="3000")
                    .row.no-gutters
                        .col-lg-6.slide1-control.animate__animated.animate__fadeInLeft
                            h6 #فناوری و راه حل های آن
                            h2 خدمات عالی
                            h2 برای موفقیت شما
                            p
                                | این یک واقعیت ثابت شده است که خواننده با آن پرت می شود
                                br
                                |         وقتی صفحه به طرح بندی آن نگاه می کنید.

                            .link-control
                                .readMore
                                    a(href="#") ادامه مطلب

                                .contactUs
                                    a(href="#") تماس باما


                        .col-lg-6.p-0
                            img.animate__animated.animate__fadeInUp.img-fluid(src="images/img-1.png" alt="...")


                .carousel-item.img-control(data-bs-interval="3000")
                    .row.no-gutters
                        .col-lg-6.slide1-control.animate__animated.animate__fadeInLeft
                            h6 #راه حل هایی برای ادغام آسان
                            h2 نوآورانه و
                            h2 راه حل مولد
                            p
                                | این یک واقعیت ثابت شده است که خواننده با آن پرت می شود
                                br
                                |         وقتی صفحه به طرح بندی آن نگاه می کنید.

                            .link-control
                                .readMore
                                    a(href="#") ادامه مطلب

                                .contactUs
                                    a(href="#") تماس باما

                        .col-lg-6.p-0
                            img.animate__animated.animate__fadeInUp.img-fluid(src="images/img-2.png" alt="...")




        button.carousel-control-prev.button-control(type="button" data-bs-target="#main-carousel" data-bs-slide="prev")
            span.carousel-control-prev-icon.prev-control
        button.carousel-control-next.button-control(type="button" data-bs-target="#main-carousel" data-bs-slide="next")
            span.carousel-control-next-icon.next-control






    section.technology.bg-section
        .container
            .row.position-relative.z-3
                .col-lg-12
                    .styleT.text-center
                        span.sub-title #شاخص فناوری
                        h5
                            span.title ما خدمات فناوری اطلاعات
                            span.underline.title  انعطاف پذیر
                            span.title  را ارائه می دهیم


                .col-xl-3.col-lg-6.col-md-6.mt-4.mt-md-4
                    .technology-box
                        .icon-box
                            a(href="#")
                                img(src="images/icon/dashboard_icon.svg" alt="")
                        .content-box
                            h4.title-box توسعه نرم افزار
                            p.description لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ



                .col-xl-3.col-lg-6.col-md-6.mt-4.mt-md-4
                    .technology-box
                        .icon-box
                            a(href="#")
                                img(src="images/icon/branding_icon.svg" alt="")
                        .content-box
                            h4.title-box برندینگ و طراحی
                            p.description لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ



                .col-xl-3.col-lg-6.col-md-6.mt-4.mt-md-4
                    .technology-box
                        .icon-box
                            a(href="#")
                                img(src="images/icon/global-icon.svg" alt="")
                        .content-box
                            h4.title-box توسعه وب سایت
                            p.description لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ



                .col-xl-3.col-lg-6.col-md-6.mt-4.mt-md-4
                    .technology-box
                        .icon-box
                            a(href="#")
                                img(src="images/icon/mobile_icon.svg" alt="")
                        .content-box
                            h4.title-box توسعه موبایل
                            p.description لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ

    section.about
        .container
            .row.align-items-center
                .col-xl-6.col-lg-6
                    .about-img
                        img(src="images/10.jpg" alt="")
                        .count
                            .count-content
                                .number
                                    h5 20
                                    span +
                                .count-description
                                    p
                                        | سال ها
                                        br
                                        |         تجربه
                .col-xl-6.col-lg-6.mt-4.mt-lg-0
                    .contain-text
                        span.sub-title #درباره ما
                        h5
                            span.title توسعه محصول برای
                            span.underline-about.title  کسب و کار
                            span.title  بهتر

                        p.description انواع مختلفی از معابر لورم ایپسوم در دسترس است، اما اکثر آنها به نوعی با طنز تزریق شده دچار تغییر شده اند.



                    .row
                        .col-lg-6.col-md-6
                            .parent-box
                                .item-about
                                    img(src="images/icon/dashboard_icon.svg" alt="")
                                    h5.item-title
                                        | واجد شرایط
                                        br
                                        |         مشاوران


                                .info-box
                                    p
                                        | لورم ایپسوم متن ساختگی با تولید
                                        br
                                        |  تولید سادگی نامفهوم از صنعت چاپ،


                        .col-lg-6.col-md-6
                            .parent-box
                                .item-about
                                    img(src="images/icon/idea_icon.svg" alt="")
                                    h5.item-title
                                        | واجد شرایط
                                        br
                                        |         مشاوران


                                .info-box
                                    p
                                        | لورم ایپسوم متن ساختگی با تولید
                                        br
                                        |  تولید سادگی نامفهوم از صنعت چاپ،

                    a(href="#").my-button بیشتر پیدا کن

    section.services.pb-220.bg-section
        .container
            .row.position-relative.z-3
                .col-lg-12
                    .styleT.text-center
                        span.sub-title # خدمات
                        h5
                            span.title توسعه محصول برای
                            span.underline-services.title  کسب و کار
                            span.title بهتر

                    .owl-carousel
                        .item
                            .media
                                img(src="images/icon/analytics_icon.svg" alt="")
                                h3 01

                            .info-services
                                h4.title-services خودرو
                                p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                            .link-services
                                a(href="#")
                                    span.text-services جزئیات بیشتر
                        .item
                            .media
                                img(src="images/icon/global_icon.svg" alt="")
                                h3 02

                            .info-services
                                h4.title-services الکترونیکی
                                p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                            .link-services
                                a(href="#")
                                    span.text-services جزئیات بیشتر
                        .item
                            .media
                                img(src="images/icon/computer_icon.svg" alt="")
                                h3 03

                            .info-services
                                h4.title-services بازار یابی
                                p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                            .link-services
                                a(href="#")
                                    span.text-services جزئیات بیشتر
                        .item
                            .media
                                img(src="images/icon/call_center_icon.svg" alt="")
                                h3 04

                            .info-services
                                h4.title-services فلز
                                p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                            .link-services
                                a(href="#")
                                    span.text-services جزئیات بیشتر
                        .item
                            .media
                                img(src="images/icon/admin_icon.svg" alt="")
                                h3 05

                            .info-services
                                h4.title-services بسته بندی
                                p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                            .link-services
                                a(href="#")
                                    span.text-services جزئیات بیشتر
                        .item
                            .media
                                img(src="images/icon/lamp_icon.svg" alt="")
                                h3 06

                            .info-services
                                h4.title-services پلاستیک
                                p لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                            .link-services
                                a(href="#")
                                    span.text-services جزئیات بیشتر

    section.PortfolioSlider.py-0.s-mt
        .container-fluid
            .row
                .col-xl-12
                    .portfolio
                        .owl-carousel
                            .item
                                .portfolio-box
                                    .portfolio-img
                                        a(href="#")
                                            img(src="images/1.jpg" alt="")
                                    .portfolio-info
                                        .portfolio-link
                                            a(href="#").a-after ابر
                                            a(href="#") طرح
                                        h5
                                            a(href="#") خدمات حرفه ای
                            .item
                                .portfolio-box
                                    .portfolio-img
                                        a(href="#")
                                            img(src="images/2.jpg" alt="")
                                    .portfolio-info
                                        .portfolio-link
                                            a(href="#").a-after طرح
                                            a(href="#") فن آوری
                                        h5
                                            a(href="#") حفاظت از داده
                            .item
                                .portfolio-box
                                    .portfolio-img
                                        a(href="#")
                                            img(src="images/3.jpg" alt="")
                                    .portfolio-info
                                        .portfolio-link
                                            a(href="#").a-after ابر
                                            a(href="#") طرح
                                        h5
                                            a(href="#") تولید تجاری

                            .item
                                .portfolio-box
                                    .portfolio-img
                                        a(href="#")
                                            img(src="images/4.jpg" alt="")
                                    .portfolio-info
                                        .portfolio-link
                                            a(href="#").a-after میز کمک
                                            a(href="#") فن آوری
                                        h5
                                            a(href="#") کنفرانس فنی

                            .item
                                .portfolio-box
                                    .portfolio-img
                                        a(href="#")
                                            img(src="images/5.jpg" alt="")
                                    .portfolio-info
                                        .portfolio-link
                                            a(href="#").a-after ابر
                                            a(href="#") میز کمک
                                        h5
                                            a(href="#") بهترین شیوه فناوری اطلاعات

                            .item
                                .portfolio-box
                                    .portfolio-img
                                        a(href="#")
                                            img(src="images/6.jpg" alt="")
                                    .portfolio-info
                                        .portfolio-link
                                            a(href="#").a-after ابر
                                            a(href="#") فن آوری
                                        h5
                                            a(href="#") واقعیت مجازی

                            .item
                                .portfolio-box
                                    .portfolio-img
                                        a(href="#")
                                            img(src="images/7.jpg" alt="")
                                    .portfolio-info
                                        .portfolio-link
                                            a(href="#").a-after طرح
                                            a(href="#") میز کمک
                                        h5
                                            a(href="#") تجزیه و تحلیل امنیتی

                            .item
                                .portfolio-box
                                    .portfolio-img
                                        a(href="#")
                                            img(src="images/8.jpg" alt="")
                                    .portfolio-info
                                        .portfolio-link
                                            a(href="#").a-after ابر
                                            a(href="#") فن آوری
                                        h5
                                            a(href="#") راه حل های مشکل

                            .item
                                .portfolio-box
                                    .portfolio-img
                                        a(href="#")
                                            img(src="images/9.jpg" alt="")
                                    .portfolio-info
                                        .portfolio-link
                                            a(href="#").a-after طرح
                                            a(href="#") میز کمک
                                        h5
                                            a(href="#") مشاوره آن

                            .item
                                .portfolio-box
                                    .portfolio-img
                                        a(href="#")
                                            img(src="images/10 (1).jpg" alt="")
                                    .portfolio-info
                                        .portfolio-link
                                            a(href="#").a-after طرح
                                            a(href="#") میز کمک
                                        h5
                                            a(href="#") نوآوری محصول

    section.product
        .container
            .row.align-items-center
                .col-xl-6.col-lg-6
                    .text-right.mt-35
                        span.sub-title # درباره ما
                        h5
                            span.title توسعه محصول برای
                            span.underline-product.title  کسب و کار
                            span.title بهتر

                        p.description انواع مختلفی از معابر لورم ایپسوم در دسترس است، اما اکثر آنها به نوعی با طنز تزریقی دچار تغییر شده اند.

                    ul.check-list
                        li.list-item
                            a(href="#")
                                img(src="images/icon/check_icon.svg" alt="")
                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                        li.list-item
                            a(href="#")
                                img(src="images/icon/check_icon.svg" alt="")
                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                        li.list-item
                            a(href="#")
                                img(src="images/icon/check_icon.svg" alt="")
                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                        li.list-item
                            a(href="#")
                                img(src="images/icon/check_icon.svg" alt="")
                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                        li.list-item
                            a(href="#")
                                img(src="images/icon/check_icon.svg" alt="")
                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و

                .col-xl-6.col-lg-6.mt-5.mt-lg-0
                    .slider-circle
                        .rotate-circle
                            ul.rotateC#rotateC
                                li.desktop.right-rotate.active-product-li(data-angle='0')
                                    .icon-product
                                        img(src="images/icon/desktop_mac_icon.svg" alt="")
                                li.android.right-rotate(data-angle='1')
                                    .icon-product
                                        img(src="images/icon/android_social_icon.svg" alt="")
                                li.apple.right-rotate(data-angle='2')
                                    .icon-product
                                        img(src="images/icon/apple_icon.svg" alt="")
                                li.cloud.right-rotate(data-angle='3')
                                    .icon-product
                                        img(src="images/icon/cloud_done_icon.svg" alt="")
                                li.mobile.left-rotate(data-angle='4')
                                    .icon-product
                                        img(src="images/icon/mobile_phone_icon.svg" alt="")
                                li.tv.left-rotate(data-angle='5')
                                    .icon-product
                                        img(src="images/icon/monitor_icon.svg" alt="")
                            .animate-product
                                .animate.desktop.active
                                    .animate-img
                                        .img-bg.bg-1
                                            .content-product
                                                .animate-title
                                                    h5 Web

                                .animate.android
                                    .animate-img
                                        .img-bg.bg-2
                                            .content-product
                                                .animate-title
                                                    h5 android

                                .animate.apple
                                    .animate-img
                                        .img-bg.bg-1
                                            .content-product
                                                .animate-title
                                                    h5 Ios

                                .animate.cloud
                                    .animate-img
                                        .img-bg.bg-2
                                            .content-product
                                                .animate-title
                                                    h5 lot

                                .animate.mobile
                                    .animate-img
                                        .img-bg.bg-1
                                            .content-product
                                                .animate-title
                                                    h5 Wearalable

                                .animate.tv
                                    .animate-img
                                        .img-bg.bg-2
                                            .content-product
                                                .animate-title
                                                    h5 Tv

                            .prev
                                span PREV
                            .next
                                span NEXT
    section.video
        .container
            .row
                .col-lg-12
                    .styleT.text-center
                        span.sub-title # خدمات
                        h5
                            span.title توسعه محصول برای
                            span.title.underline-video کسب و کار
                            span.title  بهتر
                        p.description لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                .col-lg-12.mt-30
                    .video-box
                        .video-icon
                            a(href="https://www.youtube.com/watch?v=XHOmBV4js_E" target="_blank")
                                i.fa-solid.fa-play
    section.our-services
        .container
            .row
                .col-lg-12
                    .text-center.mb-30
                        span.sub-title # خدمات ما
                        h5
                            span.title ارائه
                            span.title.underline-ourServices  خدمات
                            span.title  انحصاری

                .col-lg-12
                    .contain-tab
                        .nav.nav-tabs.nav-fill#nav-tab
                            a(href="#").nav-item.nav-custom.nav-link.design
                                .icon-tab
                                    img(src="images/icon/dashboard_icon.svg" alt="").des
                                    span طراحی محصول
                            a(href="#").nav-item.nav-custom.nav-link.QA
                                .icon-tab
                                    img(src="images/icon/data_primary_icon.svg" alt="").QA
                                    span تست QA
                            a(href="#").nav-item.nav-custom.nav-link.narm
                                .icon-tab
                                    img(src="images/icon/call primary_icon.svg" alt="").nar
                                    span توسعه نرم افزار
                            a(href="#").nav-item.nav-custom.nav-link.active-tab.mobile
                                .icon-tab
                                    img(src="images/icon/mobile_white_icon.svg" alt="").mo
                                    span توسعه موبایل

                    .tab-content.text-left#nav-tabContent
                        .tab-pane.fade.show.active.mobile
                            .row.align-items-center
                                .col-lg-6
                                    img(src="images/tab-1.jpg" alt="")
                                .col-lg-6
                                    .tab-info
                                        h2 هاست ابری
                                        p این یک واقعیت ثابت شده است که خواننده هنگام تماشای طرح بندی آن، با محتوای قابل خواندن یک صفحه، حواسش پرت می شود. نکته استفاده از لورم ایپسوم

                                        ul
                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم


                                        .btn-container
                                            .button-block
                                                a(href="#").button
                                                    span.text-white ادامه مطلب


                        .tab-pane.fade.narm
                            .row.flex-row-reverse
                                .col-lg-6
                                    img(src="images/tab-2.jpg" alt="")
                                .col-lg-6.align-self-center
                                    .tab-info
                                        h2 فروش دامنه
                                        p این یک واقعیت ثابت شده است که خواننده هنگام تماشای طرح بندی آن، با محتوای قابل خواندن یک صفحه، حواسش پرت می شود. نکته استفاده از لورم ایپسوم

                                        ul
                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم


                                        .btn-container
                                            .button-block
                                                a(href="#").button
                                                    span.text-white ادامه مطلب


                        .tab-pane.fade.QA
                            .row
                                .col-lg-6
                                    img(src="images/tab-3.jpg" alt="")
                                .col-lg-6.align-self-center
                                    .tab-info
                                        h2 هاست ابری
                                        p این یک واقعیت ثابت شده است که خواننده هنگام تماشای طرح بندی آن، با محتوای قابل خواندن یک صفحه، حواسش پرت می شود. نکته استفاده از لورم ایپسوم

                                        ul
                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم


                                        .btn-container
                                            .button-block
                                                a(href="#").button
                                                    span.text-white ادامه مطلب


                        .tab-pane.fade.design
                            .row.flex-row-reverse
                                .col-lg-6
                                    img(src="images/tab-4.jpg" alt="")
                                .col-lg-6.align-self-center
                                    .tab-info
                                        h2 اشتراک هاست
                                        p این یک واقعیت ثابت شده است که خواننده هنگام تماشای طرح بندی آن، با محتوای قابل خواندن یک صفحه، حواسش پرت می شود. نکته استفاده از لورم ایپسوم

                                        ul
                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم

                                            li
                                                img(src="images/icon/check_icon.svg" alt="")
                                                span لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم


                                        .btn-container
                                            .button-block
                                                a(href="#").button
                                                    span.text-white ادامه مطلب

    section.benefits
        .container
            .row
                .col-xl-6.col-lg-6
                    .text-left
                        span.sub-title # مزایای ما
                        h5
                            span.title ما به شما کمک می کنیم تا
                            span.underline-benefits.title  کسب و کار
                            span.title  خود را به صورت تصاعدی رشد دهید

                        p.description انواع مختلفی از معابر لورم ایپسوم در دسترس است، اما اکثر آنها به نوعی با طنز تزریق شده دچار تغییر شده اند.


                    .progressbar-box
                        .progressbar-content
                            span.progressbar-title مدیریت خدمات
                            span.progressbar-value 85%
                            .progress-bar
                                span
                        .progressbar-content
                            span.progressbar-title پشتیبانی و کمک
                                span.progressbar-value 92%
                                .progress-bar
                                    span
                        .progressbar-content
                            span.progressbar-title ما یک بخش آن داریم
                                span.progressbar-value 80%
                                .progress-bar
                                    span

                .col-xl-6.col-lg-6.mt-4.mt-lg-0
                    img(src="images/benf.jpg" alt="")

    section.process-2
        .container
            .row
                .col-lg-12
                    .styleT.text-center
                        span.sub-title # چگونه کار می کند
                        h5
                            span.title ما به شما کمک می کنیم تا
                            span.underline-process.title  کسب و کار
                            span.title  خود را به صورت تصاعدی رشد دهید
            .row.justify-content-center
                .col-xl-4.col-lg-4.col-md-6
                    .process-box
                        .process-icon
                            img(src="images/icon/laptop_icon.svg" alt="")
                            span.progress-number 01
                        .process-info
                            h4.progress-title برنامه ریزی پروژه
                            p.progress-description لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است


                .col-xl-4.col-lg-4.col-md-6.mt-4.mt-md-0
                    .process-box
                        img(src="images/arrow-2.png" alt="").img-2.d-none.d-lg-block
                        .process-icon
                            img(src="images/icon/mobile_icon.svg" alt="")
                            span.progress-number 02
                        .process-info
                            h4.progress-title درخواست یک جلسه
                            p.progress-description لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است

                .col-xl-4.col-lg-4.col-md-6.mt-4.mt-lg-0
                    .process-box
                        img(src="images/arrow-1.png" alt="").img-1.d-none.d-lg-block
                        .process-icon
                            img(src="images/icon/dashboard_icon.svg" alt="")
                            span.progress-number 03
                        .process-info
                            h4.progress-title شروع برنامه ریزی
                            p.progress-description لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است

    section.partner
        .container
            .row.align-items-center.p-bg-primary
                .col-xl-8.col-lg-8.col-md-8.p-90-30
                    h5
                        span.title ما برای کسانی که با ما
                        span.title.underline-partner  شریک
                        span.title  هستند تأثیر واقعی ایجاد می کنیم

                    a(href="#").button.p-mt-30.button-dark
                        span تماس باما

                    a(href="#").button.p-mt-30.p-mr-30.button-white
                        span ادامه مطلب


                .col-xl-4.col-lg-4.col-md-4.mt-4.mt-md-0
                    img(src="images/partner.png" alt="").img-partner
    section.pricing
        .container
            .row.justify-content-center
                .col-lg-12
                    .styleT.text-center
                        span.sub-title # نقشه ما
                        h5
                            span.title.underline-pricing طرح
                            span.title  ما را انتخاب کنید

                        p.description لورم ایپسوم به سادگی ساختگی است این یک واقعیت ثابت طولانی مدت است که خواننده هنگام تماشای طرح بندی آن با محتوای قابل خواندن یک صفحه حواسش پرت می شود.
                .col-xl-4.col-lg-6.col.md-6
                    .price-box.text-center
                        .price-detail
                            span.price-title مبتدی
                            h2.price $29.99
                            p.price-description / هر ماه
                            .price-bg-img
                                img(src="https://peacefulqode.com/themes/techtrix/html/images/pricing-plan/1.png" alt="")

                        ul.price-info
                            li
                                span ویژگی های آزمایشی 30 روزه
                            li
                                del همگام سازی با پایگاه داده ابری
                            li
                                span سایت ساز آسان
                            li
                                span 10 ساعت پشتیبانی
                            li
                                del ادغام رسانه های اجتماعی
                            li
                                span ویژگی های نامحدود



                        .btn-container
                            .button-block
                                a(href="#").button
                                    span هم اکنون بخرید





                .col-xl-4.col-lg-6.col-md-6.mt-4.mt-md-0
                    .price-box.text-center
                        .price-detail.active
                            span.price-title حرفه ای
                            h2.price $59.99
                            p.price-description / هر ماه
                            .price-bg-img
                                img(src="https://peacefulqode.com/themes/techtrix/html/images/pricing-plan/1.png" alt="")

                        ul.price-info
                            li
                                span ویژگی های آزمایشی 30 روزه
                            li
                                span همگام سازی با پایگاه داده ابری
                            li
                                del سایت ساز آسان
                            li
                                del 10 ساعت پشتیبانی
                            li
                                span ادغام رسانه های اجتماعی
                            li
                                span ویژگی های نامحدود



                        .btn-container
                            .button-block
                                a(href="#").button-dark
                                    span هم اکنون بخرید




                .col-xl-4.col-lg-6.col-md-6.mt-4.mt-xl-0
                    .price-box.text-center
                        .price-detail
                            span.price-title استاندارد
                            h2.price $99.99
                            p.price-description / هر ماه
                            .price-bg-img
                                img(src="https://peacefulqode.com/themes/techtrix/html/images/pricing-plan/1.png" alt="")

                        ul.price-info
                            li
                                del ویژگی های آزمایشی 30 روزه
                            li
                                span همگام سازی با پایگاه داده ابری
                            li
                                span سایت ساز آسان
                            li
                                span 10 ساعت پشتیبانی
                            li
                                span ادغام رسانه های اجتماعی
                            li
                                del ویژگی های نامحدود



                        .btn-container
                            .button-block
                                a(href="#").button
                                    span هم اکنون بخرید
    .back-to-top#backTop
        a(href="#").back-top
            i.fa-solid.fa-angle-up


